.container{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    max-height: fit-content;
}

.formLayout{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}